*{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url( '/static/images/1.jpg' );
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 109vh;
}


.nbkr{
    margin-left: 50px;
    padding-top: 50px;
 
    
    border-radius: 10px;
}
.logo{
    color: orangered;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    padding-top: 10px;
}

.comp{
    width: 2000px;
    height: 60px;
    font-family: sans-serif;

    font-size: 25px;
    letter-spacing: 5px;
    background: skyblue;
    border: none;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
}
.comp:hover{
    background-color: white;

}
.blow{
    margin-top: 50px;
    margin-left: 100px;
    width: 2000px;
    height: 60px;
    font-size: 25px;
    letter-spacing: 5px;
    background: skyblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
}
.blow:hover{
    background-color: white;
}
