<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="https://en.wikipedia.org/wiki/Gas_engine">About 3BHP</a></li>
                
                <li><a class="x" href="bhp3exp">Practical Experiment</a></li>
                <li><a class="x" href="contact">About Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="pic3">
        <center><p class="m1">LOAD TEST ON VILLIERS AIR COOLED PETROL ENGINE </p></center>
        <img class="imc" src="{% static '/images/104.jpg' %}" alt="" >
        <P  class="t1">
            <pre>
<h2 class="h2"><u>AIM</u>:</h2>
            </pre>

<h3 class="t2">To conduct load test on 3 HP Petrol/Kerosene engine and to plot B.H.P. Vs F.C., 
S.F.C., Air / Fuel ratio, Brake mean effective pressure, Brake Torque, Volumetric 
efficiency, Brake thermal efficiency etc.,</h3>
<pre>
<h2 class="h2"><u>APPARATUS</u>:</h2>

<h3 class="t2">Engine, Tachometer, Stop watch etc.,</h3>

<h2 class="h2"><u>TECHNICAL DETAILS</u>:</h2>

<h3 class="t2">Speed	=  3000 rpm; 	 
Power=  3BHP;
Number of Cylinders =  One
Bore	=  70mm;         
Stroke	=  66.7 mm;	        
Make    =  Villiers
Method of Cooling : Air Cooling;         
Loading = Belt Brake Type
Brake Drum diameter =  19.42 cm;       
Belt thickness = 6 mm
Orifice diameter = 16 mm;.                   
cd = 0.6.</h3>

<h2 class="h2"><u>DESCRIPTION</u>:</h2>
            </pre>

<h3 class="t2">The engine is a 4 stroke, 3bhp air-cooled vertical cylinder single 
cylinder Petrol/Kerosene Engine. The engine is provided with a belt brake dynamometer.
The loading on the shaft takes place by providing weights on the spring balance. 
Fuel is supplied from fuel tank through a three way valve. For obtaining fuel consumption, 
fuel will be drawn from burette provided by cutting of the fuel from the fuel tank. 
Air is supplied to the engine through the air filter and air tank. The quantity of air 
drawn into the cylinder can be measured by noting down the Manometric head from U- tube 
water manometer. Exhaust gas temperature measuring dial gauge is provided on the panel. 
Basically this engine works on the Kerosene. But as the self ignition temperature of 
Kerosene is more, for starting the engine Petrol is to be used.</h3>

<h2 class="h2"><u>PROCEDURE</u>:</h2>

<h3 class="t2">Initially Petrol has to be supplied to the engine. Engine (flywheel) has to be rotated with 
the help of the rope. The engine speed has to be adjusted to the rated speed. Soon after the 
engine has attained the rated speed fuel need to be switched to Kerosene from Petrol. 
Sufficient time has to be given for the engine to stabilize. Manometer reading, time required 
for consuming 20 cc of fuel, speed of the engine  has to be noted down. Engine has to be loaded 
against different loads and respective readings are to be recorded. Care should be taken that 
the water is sent through the brake drum while loading the engine. Repeat the experiment for 
different loads. At every load ensure that the rated speed is maintained.</h3>
<pre>
<h2 class="h2"><u>CALCULATIONS</u>:</h2>

<h3 class="t2">
B.H.P	=  2πNT/60  = 2πNW*r/>60 = 2πN(S1 - S2)*r/60

      S1 and S2 are spring balance readings 
    
    where. r=effective radius in meters = (0.1942+0.006)/2 = 0.1031 meters

    W = S1-S2 =  Load in kN, N = Engine speed = 3000 rpm
    
    Maximum Load = Brake Power / πDN * 9.81

                    =2.208*60*1000 / π*0.2060*3000*9.81

                    M <sub>Maximum</sub> =  ____ kg

    Density of air at room temperature ( ρ<sub>air</sub>) = 1.033*10<sup>4</sup> / 29.27*(273 + Room Temp)	= 	kg/m<sup>3</sup>

    Head of air column h<sub>air</sub> in meters = X*10 / ρ<sub>a</sub>
    
    Where, X is the Manometric reading in cm of water

            h<sub>air</sub> =  ____ meters

            Air flow through orifice = Cd A √2gh<sub>air</sub>

            = 0.6*π*0.016<sup>2</sup> /4 *√2*9.81*h<sub>air</sub> m<sup>3</sup> / sec

            =  Y  =  ________ m3/sec

         Weight of air drawn	=  Y ×  ρ<sub>air</sub> × 60 kg/min
    
         Air fuel ratio = 

         Where, t is time taken for 20 CC of fuel consumption.
        Let the specific gravity of the fuel= 0.78

        F.C.  =  20*sp.gravity of fuel * density of water *60*60 / 10<sup>6</sup> *t   kg/hr</h3>

            </pre>
        </div>
    </div>
   
</body>
</html>