<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="https://en.wikipedia.org/wiki/Gas_engine">About 3BHP</a></li>
                <li><a class="x" href="bhp3">Theory</a></li>
                <li><a class="x" href="contact">About Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="pic4">
        <center><p class="m1"> <a class= "m1">LOAD TEST  ON VILLIERS AIR COOLED PETROL ENGINE</a></p></center>
        <div class="fon">
            <form class="fon"action="bhp3result" method="POST">
                {% csrf_token %}
                <label>-->Enter the Load :</label>
                <input type="text" name="L" placeholder="Enter" required><br>
                
                <label>--> Enter the Manometric Reading :</label>
                <input type="text" name="X" placeholder="Enter " required><br>
                
                <label>--> Enter the Time taken for Fuel Consumption:</label>
                <input type="text" name="T" placeholder="Enter" required><br>
                
                <center>
                    <a href="bhp3result"><button class="sub">CLICK TO PROCEEED</button></a>
                </center>
            </form>
        </div>
    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>
    </div>
</body>
</html>
