<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="bhp3">Theory</a></li>
                <li><a class="x" href="bhp3exp">Practical Experiment</a></li>
                <li><a class="x" href="contact">Contact Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="pic4">
        <center><p class="m1"> <a class= "m1"href="compressor" >LOAD TEST  ON VILLIERS AIR COOLED PETROL ENGINE</a></p></center>
    <table>
        <tr>
          <th>Sl no</th>
          <th>Load kgf </th>
          <th>Load N</th>
          <th>Manometric reading in cm</th>
          <th>Time Taken for 20 cc of fuel consumption</th>
          <th>Brake Power KW</th>
          <th>Fuel Consumption (kg/hr )</th>
          <th>Specific Fuel Consumption (kg/ kw hr)</th>
          <th>Volumetric Efficiency</th>
          <th>Brake Mean Effective Power (KN/m<sup>2</sup>)</th>
          <th>Air Fuel Ratio </th>
          <th>Brake Torque(M KN)</th>
          <th>Brake Thermal efficiancy</th>
        </tr>
        <tr>
            <td>01</td>
            <td>{{L1}}</td>
            <td>{{W1}}</td>
            <td>{{X1}}</td>
            <td>{{T1}}</td>
            <td>{{BP1}}</td>
            <td>{{FC1}}</td>
            <td>{{SFC1}}</td>
            <td>{{VE1}}</td>
            <td>{{BMEP1}}</td>
            <td>{{AFR1}}</td>
            <td>{{BT1}}</td>
            <td>{{EBT1}}</td>
        </tr>
    </table>

    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>
    </div>
</body>
</html>
--->LOAD IN NEWTON IS : {{W1}} 

--->BREAK POWER IS : {{BP1}} 

--->FUEL CONSUMPTION IS : {{FC1}} m

-->SPECIFIC FUEL CONSUMPTION IS : {{SFC1}}

--->volumetric efficiancy is : {{VE1}} %

---> BRAEK MEAN EFFECTIVE PRESSURE IS  :  {{BMEP1}} KW

--->AIR FUEL RATIO : {{AFR1}} KW

--->BRAEK TORQUE :{{BT1}} %

--->BRAEK THERMAL EFIICIANCY :{{EBT1}} %
