<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static '/styles/comexp.css' %}">
    <title>Thermal</title>
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
</head>
<body>
    
    <div class="main">
        <div class="head">
            <h1>BLOWER</h1>
        </div>
        <div class="menu">
            <a href="index"><button class="b1">HOME</button></a>
            <a href="blower"><button class="b2">BLOWER</button></a>
        </div>
        <div class="exp">
            <form action="blowresult" method="POST">
                {% csrf_token %}
                <pre>
      
-->Enter the  static head                   :   <input type="text" class="text" name="s" placeholder="enter" required><br>

--> Enter the  delivary head                :   <input type="text" class="text" name="d" placeholder="enter" required><br>

--> Enter the  Temperature                  :   <input type="text" class="text" name="T" placeholder="enter" required><br>

--> Enter the time taken for reading        :   <input type="text" class="text" name="t" placeholder="enter" required><br>

                </pre>

                <a href="blowresult"><button class="b3">CLICK TO PROCEEED</button></a>
            </form>
        </div>
    </div>
</body>
</html>