<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="https://en.wikipedia.org/wiki/Centrifugal_fan">Theory</a></li>
                <li><a class="x" href="blowexp">Practical Experiment</a></li>
                <li><a class="x" href="contact">About Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="pic3">
        <center><p class="m1">PERFORMANCE TEST ON AIR BLOWER</p></center>
        <img class="imc" src="{% static '/images/101.jpg' %}" alt="" >
        <P  class="t1">
            <pre>
    <h2 class="h2"><u>AIM</u>:</h2>
    <h3 class="t2">To conduct load test on the air blower and to plot curves of static head, total head, efficiency and 
    input power against volume rate of flow. (Discharge)</h3>
    <h2 class="h2"><u>APPARATUS</u>:</h2>
    <h3 class="t2">Blower, Energy Meter,Stop watch etc.</h3>
    <h2 class="h2"><u>SPECIFICATIONS</u>:</h2>
    <h3 class="t2">
    MOTOR : H.P. = 5.5, 
    RPM = 2820
    BLOWER : H.P. = 5, 
    RPM = 2820
    MECHANICAL EFFICIENCY FOR MOTOR AND BLOWER
    ASSEMBLY MAY BE ASSUMED AS 95%
    CFM = 1600
    VENTURI METER : = 2
    DELIVERY PIPE DIA. = 2<sup>''</sup>
    VENTURI COEFFICIENT : C = 0.96</h3>
            </pre>
    <h2 class="h2"><u>THEORY</u>:</h2>
    <h3 class="t2">Blowers are the machines which increases which pressure of the air. The pressure ratio generally 
    varies from 1.5 to 2.5. Blowers delivers larger quantities of air with slight pressurerise. The blowers 
    may be reciprocating positive displacement or positive displacement rotary (Roots blower, Vane blower
    etc.) or rotary centrifugal type. The latter types are most widely used. When the impeller is rotated 
    the centrifugal force upon the air inside the blower causes compression effect while the velocity of the 
    air passing through the impeller blades being converted into pressure energy by means of diffusers around
    the impeller.</h3>
    
    
    <h2 class="h2"><u>PROCEDURE</u>:</h2>
    <h3 class="t2">The motor is started by keeping the delivery valve completely closed. The manometric heads namely static 
    head (with the manometer whose one end is open to the atmosphere) and delivery head (with manometer connected
    to the venturimeter) are noted. The time taken for 5 revolutions of energy meter is noted. The discharge 
    air temperature is noted. The discharge valve is opened in steps (i.e. one revolution opening, two 
    revolutions opening etc.) to the full opening and the above mentioned readings are noted and tabulated as shown.</h3>

    <pre>
    <h2 class="h2"><u>CALCULATIONS</u>:</h2>
    
    <h3 class="t2">
    B.H.P	=  2πNT/60  = 2πNW*r/>60 = 2πN(S1 - S2)*r/60
    
        S1 and S2 are spring balance readings 
        
    where. r=effective radius in meters = (0.1942+0.006)/2 = 0.1031 meters
    
     W = S1-S2 =  Load in kN, N = Engine speed = 3000 rpm
        
    Maximum Load = Brake Power / πDN * 9.81
    
                    =2.208*60*1000 / π*0.2060*3000*9.81
    
                    M <sub>Maximum</sub> =  ____ kg
    
    Density of air at room temperature ( ρ<sub>air</sub>) = 1.033*10<sup>4</sup> / 29.27*(273 + Room Temp)	= 	kg/m<sup>3</sup>
    
    Head of air column h<sub>air</sub> in meters = X*10 / ρ<sub>a</sub>
        
    Where, X is the Manometric reading in cm of water
    
             h<sub>air</sub> =  ____ meters
    
             Air flow through orifice = Cd A √2gh<sub>air</sub>
    
            = 0.6*π*0.016<sup>2</sup> /4 *√2*9.81*h<sub>air</sub> m<sup>3</sup> / sec
    
            =  Y  =  ________ m3/sec
    
        Weight of air drawn	=  Y ×  ρ<sub>air</sub> × 60 kg/min
        
        Air fuel ratio = 
    
        Where, t is time taken for 20 CC of fuel consumption.
        Let the specific gravity of the fuel= 0.78
    
        F.C.  =  20*sp.gravity of fuel * density of water *60*60 / 10<sup>6</sup> *t   kg/hr</h3>
    
         </pre>
     </div>
       
</body>
</html>