<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="compressor">Theory</a></li>
                <li><a class="x" href="compexp">Practical Experiment</a></li>
                <li><a class="x" href="contact">Contact Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="pic4">
        <center><p class="m1"> <a class= "m1"href="compressor" >PERFORMANCE TEST ON TWO STAGE AIR COMPRESSOR </a></p></center>
    <table>
        <tr>
          <th>Sl no</th>
          <th>Delivery Pressur (guage)</th>
          <th>Delivery Pressur (Absolute)</th>
          <th>Pressure Ratio</th>
          <th>Time Taken By Energy Meter</th>
          <th>Pressure Head cm</th>
          <th>Pressure Head m</th>
          <th>volumetric efficiancy</th>
          <th>Power Input KW</th>
          <th>Isothermal Power KW</th>
          <th>Adiabatic Power KW</th>
          <th>Isotehrmal efficiancy</th>
          <th>Adiabatic efficiancy</th>
          <th>Efficiancy Ratio</th>
        </tr>
        <tr>
            <td>01</td>
            <td>{{p22}}</td>
            <td>{{p4}}</td>
            <td>{{PR1}}</td>
            <td>{{t1}}</td>
            <td>{{x1}}</td>
            <td>{{h1}}</td>
            <td>{{v3}}</td>
            <td>{{PI1}}</td>
            <td>{{IP1}}</td>
            <td>{{AP1}}</td>
            <td>{{IE2}}</td>
            <td>{{AE2}}</td>
            <td>{{E1}}</td>
        </tr>
    </table>

    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>
    </div>
</body>
</html>