<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static '/styles/compd.css' %}">
    <title>Thermal</title>
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
  
</head>
<body>
    <div class="main">
        <div class="head">
            <h1>COMPRESSOR</h1>
        </div>
        <div class="menu">
            <a href="index"><button class="b1">HOME</button></a>
            <a href="compressor"><button class="b2">COMPRESSOR</button></a>
        </div>
        <div class="exp">
            
            <form action="compexp" method="POST">
                {% csrf_token %}
                <pre>
                    
-->Enter how many inputs you want to give  {{i}}     :   <input type="text" class="text" name="data" placeholder="enter" required><br>
                    
                </pre>


            </form>
            <a href="compexp"><button class="b3">CLICK TO PROCEEED</button></a>
        </div>
    </div>
</body>
</html>