<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<style>
    a.x:hover, a.x:active {color:#000;}
    a.x:hover, a.x:active {font-size: 170%;}
</style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img class="n" src="{% static '/images/logo2.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/a.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/b.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/c.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/d.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/e.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/f.jpg' %}" alt="" >
       

    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="http://nbkrist.co.in/index.php" target="-blank">NBKR COLLEGE</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="contact">About Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="front">
        <center><h1>Team</h1></center>
    </div>
    <div class="pic8">
        
        <div class="pic9">
            <center><img class="i2" src="{% static '/images/indu.jpg' %}" alt="" ></a></center>
        
            
            <p class="copic">
                <center><h4 class="copic"> PROFESSOR</h4></center>
                <center><h4 class="copic"> DR  S. Indhumathi</h4></center>
                <center><h4 class="copic"> Dept of Mechanical Engineering</h4></center>
            </p>
        </div>
        <div class="pic10">
            <img class="i1" src="{% static '/images/syam.jpg' %}" alt="" ></a>
            <p class="copic">
               <center><p class="copic"> STUDENT</p></center>
               <center><p class="copic"> Mr P.Muni Syam</p></center>
               <center><p class="copic"> Mobile : 918688154773</p></center>
               
            </p></center>

        </div>
        <div class="pic10">
            <img class="i1" src="{% static '/images/sud1.jpg' %}" alt="" ></a>
            <p class="copic">
                <center><p class="copic"> STUDENT</p></center>
               <center><p class="copic"> Mr P. Sudheer</p></center>
               <center><p class="copic"> Mobile : 919182552761</p></center>
               
            </p></center>
 


        </div>
        <div class="pic10">
            <img class="i1" src="{% static '/images/pra3.jpg' %}" alt="" ></a>
            <p class="copic">
                <center><p class="copic"> STUDENT</p></center>
               <center><p class="copic"> Mr N.V.V.K Prasad</p></center>
               <center><p class="copic"> Mobile : 917330909769</p></center>
               
         </p></center>
 


        </div>
        <div class="pic10">
            <img class="i1" src="{% static '/images/jit.jpg' %}" alt="" ></a>
            <p class="copic">
                <center><p class="copic"> STUDENT</p></center>
               <center><p class="copic"> Mr C.Jithendra</p></center>
               <center><p class="copic"> Mobile : 919121396296</p></center>
               
         </p></center>
 


        </div>
        <div class="pic10">
            <img class="i1" src="{% static '/images/pat.jpeg' %}" alt="" ></a>
            <p class="copic">
                <center><p class="copic"> STUDENT</p></center>
               <center><p class="copic"> Mr P. Davod</p></center>
               <center><p class="copic"> Mobile : 919603726198</p></center>
               
         </p></center>
 


        </div>
        
    </div>

    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>
    </div>
</body>
</html>