<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        a.x:hover, a.x:active {color:#000;}
        a.x:hover, a.x:active {font-size: 170%;}
    </style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img class="n" src="{% static '/images/logo2.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/a.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/b.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/c.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/d.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/e.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/f.jpg' %}" alt="" >
        <img class="n1" src="{% static '/images/g.jpg' %}" alt="" >
    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="home">Home</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="heatexp">Practical Experiment</a></li>
                <li><a class="x" href="contact">About Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="pich">
        <center><p class="m1">HEAT BALANCE TEST ON WATER COOLED DIESEL ENGINE</p></center>
        <img class="imc" src="{% static '/images/102.jpg' %}" alt="" >
        <P  class="t1">
            <pre>
<h2 class="h2"><u>AIM</u>:</h2>
<h3 class="t2">To draw Heat balance sheet</h3>

<h2 class="h2"><u>APPARATUS</u>:</h2>
<h3 class="t2">10BHP Kirloskar Diesel Engine, 
Tachometer, Stop watch etc.,</h3>

<h2 class="h2"><u>TECHNICAL DETAILS</u>:</h2>
<h3 class="t2">
No. of Cylinders : 2;                       
Method of Cooling:  Water Cooling;                          
Speed: 1500 rpm  
Bore Diameter :  87.5 mm;          
: 110 mm;      
Brake Power =10 BHP at 1500 rpm or 7.36 kW
Compression Ratio:  17.5  :  1;     
Brake Drum Diameter: 24.5 cm.;                       
Cd = 0.5 </h3>

<h2 class="h2"><u>DESCRIPTION</u>:</h2>
            </pre>

<h3 class="t2">The engine is a 4-stroke, 10 BHP water cooled, vertical, two cylinders Kirloskar Diesel Engine. The cylinders 
are placed in-line, The engine is provided with a belt brake dynamo-meter.  Fuel is supplied from fuel tank 
through a three way valve.  For obtaining fuel consumption the fuel will be drawn from burette provided by 
cutting off the fuel from the fuel tank.  The quantity of air drawn into the cylinder may be measured by 
noting down the Manometric head from U-tube water manometer.  Two dial gauges are provided on the panel to 
measure cooling water outlet temperature and exhaust gas temperature at engine.  As the engine is water 
cooled water supply is also provided to the brake drum to cool the brake drum while loading the engine.</h3>

<h2 class="h2"><u>PROCEDURE</u>:</h2>

<h3 class="t2">The fuel level and lubricating oil level are checked.  The decompression laver is lifted so that the exhaust
 value will be opened.  The fly wheel is rotated with the help of cranking handle. When the fly wheel has 
 attained sufficient speed the decompression lever is placed horizontally so that the exhaust value will 
 be in normal operation and the engine starts functioning.  When the engine has warmed up cooling water 
  supplied to the cylinder jacket.  The engine speed is adjusted to the rated speed of 1500 rpm. by 
  adjusting the fuel supply with the help of fuel control knob provided on the panel.  Sufficient time 
  is allowed for the engine to stabilize.  At no load conditions the engine cooling water inlet and outlet 
  temperatures are measured.  The quantity of cooling water supplied per minute is noted.  The exhaust gas 
  temperature near the engine and the ambient air temperature are noted.  The time taken for 20 cc of fuel 
  consumed and the Manometric head are noted. Then the engine is loaded and the above observations are made 
  along with the load.  For every set of readings about 20 minutes time is allowed for the engine to 
  stabilize. Procedure repeated for four sets.</h3>
  <pre>

<h2 class="h2"><u>CALCULATIONS</u>:</h2>

<h3 class="t2">Brake Power =   π*D*W*N/60   

Where,

W- Load in kN which is equal to the difference between the two spring balances.

N - Rated speed = 1500 rpm

D - Effective diameter of the brake drum

     = 24.5 + 2*0.6   { here the thickness of belt = 6mm }

     = 25.7 cm.

Maximum load = (Break Power*60*1000)/(π D N *9.81)    in kgf

Manometric Reading = ………… cm. of water 

Ambient air temperature Ta =       <sup>0</sup>C

Density of air at room temperature is obtained from the relation 

P<sub>a</sub>V<sub>a</sub> = m<sub>a</sub> R<sub>a</sub> T<sub>a</sub>
 
ρ<sub>a</sub> = P<sub>a</sub> / R<sub>a</sub> T<sub>a</sub> = 1.01325 × 105/287 ×(Temperature in <sup>0</sup>C+273) kg/m<sup>3</sup>.
 
  head (h) =(Manometric head/100) * (density of water/Density of air) 
    =  Head in cm of water/100  *  1000/ ρ<sub>a</sub>     m of air.
                               

Air flow through orifice = Cd A √2gh  m3/s

Here, cd  =  0.6

	A = Area of orifice.

	h = Head in m of air column.

	Weight of air drawn by the cylinder in a minute.

		= Air flow through orifice × 60 × ρ<sub>a</sub>  Kg/min

	Time taken for 20 cc of fuel consumption (t) =      seconds. 

i.e.,  Fuel consumption =

     20/10<sup>6</sup> × 1/t  × Specific gravity of fuel × Density of Water × 60 × 60  in   kg/h.

=  _______     kg/h

i.e., .F.C. = 20 × Specific gravity of fuel × 60 × 60/ (t × 1000)   kg/h.

Specific gravity of diesel may be taken as 0.78

Brake Power =   π*D*W*N/60   

Heat Energy supplied per minute = weight of fuel supplied/min × calorific value

Let the calorific value of Diesel be 41870 kJ/kg.

Energy utilized in developing power = Brake power × 60 kJ/min.

Energy take by engine cooling water mwater Cp(T2-T1) KJ/min.

Where mw is mass of water in kg/min Cp is specific heat of water.


4.186 kJ/kg  K

T1  =  Cooling  water inlet temperature 

T2  =  Cooling water outlet temperature
 
Energy carried in exhaust gasses  =   m<sub>g</sub> C<sub>pg</sub> (Tg  -  Ta)
 
m<sub>g</sub>  =  Mass of exhaust gases = Mass of air + mass of fuel in kg/min

Cpg =  1.06 kJ/kg K
</h3>
</pre>
</P>
    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>






    
</body>
</html>