<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/home.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<style>
    a.x:hover, a.x:active {color:#000;}
    a.x:hover, a.x:active {font-size: 170%;}
</style>
</head>
<body class='b1'>
    <div class="nbkr">
        <img src="{% static '/images/logo2.jpg' %}" alt="" width="500px" height="100">
        <img src="{% static '/images/a.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/b.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/c.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/d.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/e.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/f.jpg' %}" alt="" width="120px" height="100">
        <img src="{% static '/images/g.jpg' %}" alt="" width="120px" height="100">

    </div>
    <div class="mech">
        <h1>Department Of Mechanical Engineering</h1>
    </div>
    <div class="nav1" >
        <nav  id="navbar">
            <ul id="menu">

                <li><a class="x" href="#">Home</a></li>
                <li><a class="x" href="http://nbkrist.co.in/index.php" target="-blank">NBKR COLLEGE</a></li>
                <li><a class="x" href="index">Laboratory</a></li>
                <li><a class="x" href="contact">Contact Us</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="front">
        <center><h1>THERMAL ENGINEERING LABORATORY</h1></center>
    </div>
    <div class="about">
        <h2 class="q">-->THERMAL ENGINEERING LAB</h2>
        <p class="h">Thermal engineering is a specialized discipline of mechanical engineering that deals with the movement of heat energy and transfer. Since the energy can be transformed between two mediums or transferred into other forms of energy, a thermal engineer must have knowledge of thermodynamics and the process to convert generated energy from thermal sources into chemical, mechanical, or electrical energy.</p>
        <p class="h">Thermal Laboratory provides lot of opportunity to the students to study different types of IC engine, boiler performance study and to do their innovative projects. The performance test, heat balance test, the retardation test and emission test can be carried in variety of IC engines like petrol/diesel fueled with single/double/multi cylinder engines with modern mechanical/electrical/hydraulic loading devices. </p>
        <h2 class="q">-->EQUIPMENTS USED IN LABORATORY </h2>
    </div>
    <div class="pics">
        <img class="im" src="{% static '/images/4stroke.jpg' %}" alt="" >
        <center><p class="m"> Four Stroke Four Cylinder Diesel Engine</p></center>
        <P  class="t">
        -->Four stroke diesel engine is also known as the compressed ignition (CI) engine since in this kind of engine the combustion occurs due to the compressing a air more than fuel self-ignition temperature.<br>
        -->The compression ratio of this engine is higher as compared to SI engine and it not uses the spark plug.<br>
        -->This engine works on the thermodynamic diesel cycle.<br>
        -->In this type of engine the diesel is used as the fuel.<br>
        -->The four strokes in this engine are suction, compression, power as well as exhaust.<br>
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/scfsde.jpg' %}" alt="" >
        <center><p class="m"> Single Cylinder Four Stroke Diesel Engine </p></center>
        <P  class="t">
        -->Four stroke diesel engine is also known as the compressed ignition (CI) engine since in this kind of engine the combustion occurs due to the compressing a air more than fuel self-ignition temperature.<br>
        -->The compression ratio of this engine is higher as compared to SI engine and it not uses the spark plug.<br>
        -->This engine works on the thermodynamic diesel cycle.<br>
        -->In this type of engine the diesel is used as the fuel.<br>
        -->The four strokes in this engine are suction, compression, power as well as exhaust.<br>

        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/scfpe.jpg' %}" alt="" >
        <center><p class="m"> Single Cylinder Four Stroke Petrol Engine  </p></center>
        <P  class="t">
        -->The principle used in a four stroke petrol engine is commonly known as Otto Cycle. It states that there would be one power stroke for every four strokes<br>
        -->Such engines use a spark plug which is used for the ignition of the combustible fuel used in the engine<br>
        -->Most of the cars, bikes and trucks use a 4 stroke engines.<br>
        -->In the Four Stroke Petrol Engine uses a cycle of four strokes and petrol as the fuel. Each cycle includes 2 rotations of the crankshaft and four strokes, namely:<br>
            <pre class="t">
            1.An Intake Stroke                                           2.A Compression Stroke
            3.A Combustion Stroke also called Power Stroke               4.An Exhaust Stroke
            </pre>

        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/sctspe.jpg' %}" alt="" >
        <center><p class="m"> Single Cylinder Two Stroke Petrol Engine  </p></center>
        <P  class="t">
        -->A 2-stroke engine goes through 2 stages, or one complete revolution, to complete one power stroke. During the combustion cycle in an engine, the piston moves up and down within a cylinder where the piston travels.<br>
        -->At the end of the compression (previous) stroke, the spark plug fires and ignites the compressed air/fuel mixture. This ignition/explosion forces the piston back down the cylinder bore and rotates the crankshaft, propelling the vehicle forward.<br>
        -->The weight of the engine is less as compared to water-cooled engines. But due to the single cylinder, the engine provides only one power stroke in two complete revolutions of the shaft. hence power delivered to the crankshaft is in pulsating form, Which increases vibration in the engine.<br>

        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/ses.jpg' %}" alt="" >
        <center><p class="m"> Spark ignition System </p></center>
        <P  class="t">
            A spark-ignition engine (SI engine) is an internal combustion engine, generally a petrol engine, where the combustion process of the air-fuel mixture is ignited by a spark from a spark plug. This is in contrast to compression-ignition engines, typically diesel engines, where the heat generated from compression together with the injection of fuel is enough to initiate the combustion process, without needing any external spark.
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/ssac.jpg' %}" alt="" >
        <center><p class="m"> Single Stage Air Compressor </p></center>
        <P  class="t">
        -->A compressor is a mechanical device that increases the pressure of a gas by reducing its volume.<br>
        -->Compressors are similar to pumps: both increase the pressure on a fluid and both can transport the fluid through a pipe.<br>
        -->As gases are compressible, the compressor also reduces the volume of a gas. <br>
        -->Liquids are relatively incompressible; while some can be compressed, the main action of a pump is to pressurize and transport liquids.
           
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/tsac.jpg' %}" alt="" >
        <center><p class="m1"> Two Stage Air Compressor </p></center>
        <P  class="t">
        -->A compressor is a mechanical device that increases the pressure of a gas by reducing its volume.<br>
        -->Compressors are similar to pumps: both increase the pressure on a fluid and both can transport the fluid through a pipe.<br>
        -->As gases are compressible, the compressor also reduces the volume of a gas. <br>
        -->Liquids are relatively incompressible; while some can be compressed, the main action of a pump is to pressurize and transport liquids.
           
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/rac.jpg' %}" alt="" >
        <center><p class="m"> Rotary Air Compressor </p></center>
        <P  class="t">
        -->Rotary screw air compressors operate by trapping air between two meshed rotors and reducing the volume of that trapped air as it moves down through the rotors. <br>This reduction in volume results in compressed air, which can then be used to power air tools, inflate tires, or in numerous other applications.<br>
        -->They are good energy conservers – Rotary screw machines are generally energy efficient, and they generate less heat than normal air compressors.<br> They consume less oil than other oil flooded air compressors. In addition, they have minimum oil carryovers.
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/ab.jpg' %}" alt="" >
        <center><p class="m"> Air Blower </p></center>
        <P  class="t">
        -->Blowers are equipment or devices which increase the velocity of air or gas when passed through equipped impellers. They are mainly used for flow of air/gas required for exhausting, aspirating, cooling, ventilating, conveying etc.<br>
        -->Air blower machine is a simple and effective electrical device used in homes and industries to blow away dust from every nook and corner. For gadgets and electronics have delicate parts that cannot be cleaned with a cloth. This is when you need air blowers to remove dust with its continuous air pressure.<br>
        -->Blowers are very efficient. Operating cost of a blower is a fraction of the cost of using compressed air for a given volume of air. Blowers also provide clean air there is no danger of oil droplets or residue in the blower air stream since blowers do not use oil as a lubricant.
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/mcdt.jpg' %}" alt="" >
        <center><p class="m"> Motor Cycle Dynamometer Test </p></center>
        <P  class="t">
        -->A dyno test (short for dynamometer) is a device that measures the force, torque or power in your vehicle. More specifically, a dyno test evaluates the measure of torque and rotational speed, giving a reading that indicates the amount of power in the engine.<br>
        -->A motorcycle dyno – dynamometer – is a big piece of kit that gives you a real insight into how your bike is running. It measures torque and brake horsepower (BHP) at different revs and essentially uncovers any running issues under the fairings of your motorcycle.<br>
        -->An engine dynamometer is a device used to test an engine that has been removed from a vehicle, ship, generator, or any other piece of equipment powered by an internal combustion engine. The purpose is to confirm performance before the engine is installed back in the equipment.
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/heatengine.jpg' %}" alt="" >
        <center><p class="m"> Heat Balence Test</p></center>
        <P  class="t">
        -->the distribution of the heat energy supplied to a thermomechanical system (as a steam power plant) among the various drains upon it including both useful output and losses also : an evaluation or record of such distribution.<br>
        -->The performance of an engine is generally given by heat balance sheet. To draw the heat balance sheet for I.C. Engine, it is run at constant load. The quantity of fuel used in a given time and its calorific value, the amount, inlet and outlet temperature of cooling water, the temperature of exhaust gases, etc.<br>
        -->Heat balance sheet is used to get necessary information regarding the performance of IC Engine. Heat balance sheet can be done on second basis or minute basis or hour basis. Since heat balance sheet is account of heat supplied and heat utilized by engine.<br>
        </p>
    </div>
    <div class="pic1">
        <img class="im" src="{% static '/images/morse.jpg' %}" alt="" >
        <center><p class="m"> Morse Test Engine</p></center>
        <P  class="t">
        -->Morse test is a method to measure the frictional power of a multicylinder SI engine. Morse Test – This test carried out on multi cylinder I.C. engine. In this test, first engine is allowed to run at constant speed and brake power of engine is measured when all cylinders are working and developing indicated power.<br>
        -->frictional power is depends onthe speed and not upon the load on the engine .<br>
        -->This test measures the indicated power by cutting out the spark plug of the cylinder by keeping the speed of the engine constant.
        </p>
    </div>
    <div class="foot">
        <footer>
            <img class="im1" src="{% static '/images/3.jpg' %}" alt="" >
            
            <P class="p1"> © N.B.K.R INSTITUTE OF SCIENCE & TECHNOLOGY  2020 - 2023 </p> 
            <p class="p1">Devoloped by Mechaical Engineering Students</p>

            
        </footer>
    </div>
    <script>
        var navbar = document.getElementById("navbar");
        var menu = document.getElementById("menu");
        window.onscroll = function(){
            if(window.pageYOffset>= menu.offsetTop){
                navbar.classlist.add("sticky");
            }
            else{
                navbar.classlist.remove("sticky");
            }
        }
    </script>



</body>
</html>