<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/slide.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="slides slowFade">
        <div class="slide">
            <img src="{% static '/images/com.jpg' %}" alt="img"/>
        </div>
        <div class="slide">
            <img src="{% static '/images/com.jpg' %}" alt="img"/>
        </div>
        <div class="slide">
            <img src="{% static '/images/com.jpg' %}" alt="img"/>
        </div>
        <div class="slide">
            <img src="{% static '/images/com.jpg' %}" alt="img"/>
        </div>

    </div>
</body>