*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url( '/static/images/1.jpg' ); 
    background-position: center;

    background-size: cover;
    height: 180vh;
}
.b1{
    width: 100px;
    height: 60px;
    font-size: 25px;
    background: white;
    color: orangered;
    border: none;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 30px;
    
}
.b2{
    width: 180px;
    height: 60px;
    font-size: 25px;
    background: white;
    color: orangered;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}
.b1:hover{
    background-color:cyan;
}
.b2:hover{
    background-color: aqua;
}
.form{
    width: 2000px;
    height: 1200px;
    background:  linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    margin-left: 150px;
    margin-top: 40px;
    
    overflow-y: scroll;
  
    color: white;
    font-size: 30px;
    font-family: Arial;
}

.logo{
    color: orangered;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    font-family: Arial;
   
}
.h2{
    color:skyblue;
}

     