<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href=" {% static '/styles/comp.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">

</head>
<body>
    <div class="main">
        <div class="logo">
            <h1>COMPRESSOR</h1>
        </div>
        <div class="menu">
            <a href="index"><button class="b1">HOME</button></a>
            <a href="compexp"><button class="b2">EXPERIMENT</button></a>
        </div>
          <div class="form">
            <pre>
<h2 class="h2"><u>AIM</u>:</h2>
To conduct load test on air compressor and to plot pressure ratio or delivery pressure Vs 
(I) Volumetric efficiency 
(2) Isothermal efficiency 	
(3) Adiabatic efficiency 	
(4) Input  power
(5) Efficiency ratio.

<h2 class="h2"><u>APPARATUS</u>:</h2>
Compressor, Stop watch etc.

<h2 class="h2"><u>TECHNICAL DETAILS</u>:</h2>
Model KHOSLA AE 20 
Number of Stages : 2
Piston Displacement ---- 566 lit/min. Tank capacity = 250 lit

<h2 class="h2"><u>ENERGY METER</u>:</h2>
Diameter = 24 mm 
Co-efficient of discharge = 0.6

<h2 class="h2"><u>ENERGY METER</u>:</h2>
Energy meter constant 150 revolutions = 1 KWh

<h2 class="h2"><u>THEORY</u>:</h2>
Principle of Air Compressor
Disadvantages of single stage air Compressor
Two stage-Compression------------------and Compressor

<h2 class="h2"><u>PROCEDURE</u>:</h2>
The pressure inside the air tank is first made atmospheric. This is done by opening 
the outlet valve of the air tank and letting the air to atmosphere. The readings 
that are obtained give the values above atmospheric and hence to be added with 
1.033 kgf/cm2.
Start the motor. Adjust the pressure to a particular value. Note the time taken
for five revolutions of the energy meter. Then calculate the input to the compressor
assuming a motor efficiency of 85%. Note the manometer reading and find the actual
quantity of air drawn into the compressor. The experiment in repeated for different pressures.

<h2 class="h2"><u>CALCULATIONS</u>:</h2>

--->Theoretical air dishcharge = 566 lit/min=(566×10^3)/(10^6×60)  m^3/sec 

--->Area of the orifice=π/4×〖2.4〗^2/10^4   = A in m^2

--->Density of air at room temperature :
              ρ=(1.033×10^6)/(29.27×(273+room temperature))  Kg/m^3
--->Let  x be the manometer reading in cm of water
Head of air column causing air flow: 

             h=X/100×(Density of water)/(Density of air)=(X×10)/(Density of air)   m of air

--->Air flow through the orifice= CdA√2gh

Where 
Cd=0.6 & g = 9.81

--->Volumetric efficiency:

           𝞰v=(Actual air drawn)/(Theoritical discharge)=  Y/0.0092332   at RTP

--->Power input to the compressor =n/200×3600×ηmec×l/t   KW  

Where
n = number of revolutions
𝞰mec = Motor efficiency = 0.85
t = time taken for n number of revolutions
150 = energy meter constant

--->Pressure ratio = p3/p1=p3/1.033

--->Isothermal power = P1V1 log e^(p3/p1)×0.736  Kw

--->Isothermal efficiency=𝞰iso=(Isothermal power )/(power input)  %

--->Adiabatic power =2γ/(γ-1)×P1V1×{(〖pressure ratio)〗^((γ-1)/2γ)-1} ×0.736/75 kw

--->Adiabatic efficiency = (Adiabatic power)/(Power input)%

--->𝞰ratio= (Adiabatic efficiency)/(isothermal efficiency)

<h2 class="h2"><u>RESULT</u>:</h2>





                </pre>
            </div>
        </div>
        
        
    </div>
</body>
</html>
