<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermal</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}"> 
    <link rel="icon" type="image/x-icon" href=" {% static '/images/favi.jpg'%}">
</head>
<body>
    <div class="main">
        
        <div class="icon">
            <div class="logo">
                <h1>THERMAL ENGINEERING LABORATORY</h1>
            <div class="nbkr">
                <img src="{% static '/images/logo2.jpg' %}" alt="compressor" width="1000" height="200">
            </div>
            <div>
                <form action="compressor">
                    <button class="comp"> 01. TWO STAGE AIR COMPRESSOR</button>
                </form>
            </div>
            <div class="blow1">
                <form action="">
                    <button class="blow"> 02. AIR BLOWER</button>
                </form>
            </div>
        
            <form action="">
                <button class="comp"> 03.MORSE TEST</button>
            <form action="">
                <button class="comp"> 04.HEAT BALANCE SHEET</button>
            <form action="">
                <button class="comp"> 05. 3 BHP VILLIERS TEST</button>
            <form action="">
                <button class="comp"> 06. 5 BHP WILLIANS ON KIRLOSKAR DIESEL ENGINE</button>
            </div>
        
            </div>
        </div>
    </div>
    
</body>
</html>